In [19]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import classification_report
import graphviz
data = pd.read_csv('titanic_data.csv')

# 数据预处理
# 删除PassengerId列
data.drop('PassengerId', axis=1, inplace=True)

# 将离散化数据性别处理为连续性数据即0、1代替性别表示
data.loc[data['Sex'] == 'male', 'Sex'] = 1
data.loc[data['Sex'] == 'female', 'Sex'] = 0

# 将缺失的年龄进行填充（inplace直接在本上数据上进行修改而不重新生成新的数据）
data.fillna(data['Age'].mean(), inplace=True)

# 模型的构建与预测

# 构建决策树模型
Dtc = DecisionTreeClassifier(max_depth=5, random_state=8)
# 模型训练
Dtc.fit(data.iloc[:, 1:], data['Survived'])
# 模型预测
pre = Dtc.predict(data.iloc[:, 1:])
# 判断模型精度
# print(pre == data['Survived'])
print(classification_report(data['Survived'], pre))

# 决策树可视化
dot_data = export_graphviz(Dtc, feature_names=['Pclass', 'Sex', 'Age'], class_names=['0', '1'])
graph = graphviz.Source(dot_data)
graph.view()

              precision    recall  f1-score   support

           0       0.84      0.88      0.86       549
           1       0.79      0.73      0.76       342

    accuracy                           0.82       891
   macro avg       0.82      0.81      0.81       891
weighted avg       0.82      0.82      0.82       891

'Source.gv.pdf'

In [7]:
data

     Survived  Pclass Sex        Age
0           0       3   1  22.000000
1           1       1   0  38.000000
2           1       3   0  26.000000
3           1       1   0  35.000000
4           0       3   1  35.000000
..        ...     ...  ..        ...
886         0       2   1  27.000000
887         1       1   0  19.000000
888         0       3   0  29.699118
889         1       1   1  26.000000
890         0       3   1  32.000000

[891 rows x 4 columns]